:root {
    --Blue-Grotto: #189AB4;
    --Blanco: #f4f9fa;
    --Negro: #070707;
}

* {
    box-sizing: border-box;
    font-family: Orbitron;
}

body {
    margin: 0;
    max-height: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#tablero {
    color: white;
    padding: .3rem .8rem;
    border: .1rem solid var(--Blue-Grotto);
    background: var(--Negro);
    width: 100%;
    height: 100vh;
}

#tablero #top {
    display: flex;
    justify-content: space-between;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
    text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 0px #fff, 0 0 1px rgb(137, 205, 229), 0 0 1px rgb(137, 205, 229), 0 0 1px rgb(137, 205, 229), 0 0 1px rgb(137, 205, 229), 0 0 1px rgb(137, 205, 229);
}

.head-team {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
}

#tablero #controls #touch {
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;
}


/*Ventana modal*/

.popup {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0.0.3);
    color: white;
    z-index: 100;
    opacity: 1;
    transition: 500ms ease-in-out opacity;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: black;
    padding: 0.5rem 1rem;
    box-shadow: 0 0 .5em rgba(0, 0, 0, .5);
    border-radius: .5em;
    opacity: 1;
    position: relative;
    transition: 200ms ease-in-out opacity, 200ms ease-in-out transform;
}

.showPopup {
    opacity: 0;
    transform: translateY(0);
    pointer-events: all;
}

.equipos {
    padding: 0.5rem;
    width: 48%;
    background: rgb(0, 32, 36);
    background: linear-gradient(356deg, rgba(0, 32, 36, 0.8322259136212624) 13%, rgba(3, 188, 223, 1) 100%, rgba(2, 194, 231, 1) 100%, rgba(1, 202, 242, 1) 100%, rgba(0, 212, 255, 0.7875525210084033) 100%);
    border-radius: .8rem;
    box-shadow: .2rem .3rem var(--Blue-Grotto), -.3rem -.2rem var(--Blue-Grotto);
    position: relative;
}

.img-equipo {
    background-repeat: no-repeat;
    background-size: cover;
    height: 1.5rem;
}

.equipos header p {
    margin: .1rem;
}

.equipos header div {
    display: flex;
    align-items: center;
}

.equipos header {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
}

.equipos header .sets {
    border-radius: 50%;
    padding: .2rem .7rem;
    font-size: 1.1em;
}

#equipo2 header {
    display: flex;
    flex-direction: row-reverse;
}

.equipos .puntos {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5.2rem;
    border-radius: 10%;
    height: fit-content;
}

.equipos #saque1 {
    position: absolute;
    left: 80%;
    bottom: 3rem;
}

.equipos #saque2 {
    position: absolute;
    right: 80%;
    bottom: 3rem;
}

#tablero #controls #footer1 {
    display: flex;
}

#tablero #controls #footer2 {
    display: flex;
    justify-content: right;
}

#tablero #controls #footer1 #Amarilla1 {
    padding: .3rem .6rem;
    font-size: 1.4rem;
    color: yellow;
}

#tablero #controls #footer2 #Amarilla2 {
    padding: .3rem .6rem;
    font-size: 1.4rem;
    color: yellow;
}

#tablero #controls #footer1 #Roja1 {
    color: red;
    padding: .2rem .6rem;
    padding: .3rem .6rem;
    font-size: 1.4rem;
}

#tablero #controls #footer2 #Roja2 {
    color: red;
    padding: .5rem .5rem;
    padding: .3rem .6rem;
    font-size: 1.4rem;
}

#tablero>footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem .3rem;
}

/* modales */
.modal {
    background-color: transparent;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: auto;
    width: 100%;
    height: 100%;
    background-color: rgba(160, 160, 160, 0.5);
}

.contenido-modal {
    font-size: 20rem;
    margin: 0;
    color: black;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: modal;
    animation-duration: 1s;
}

.contenido-modal-envio {
    margin: 0;
    color: black;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation-name: modal;
    animation-duration: 1s;
}

.contenido-modal-envio header,
table {
    width: 70%;
}

.contenido-modal-envio header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: .3rem solid orange;
}

.contenido-modal-envio header #sets {
    font-size: 3rem;
    color: orange;
    font-weight: 900;
    margin: 0;
}

.contenido-modal-envio button {
    display: block;
    background-color: transparent;
    font-size: 2.2rem;
    padding: .3rem .4rem;
    border: .2rem solid orange;
    border-radius: 1rem;
}

#marcador {
    font-size: 1.4rem;
}

.img-equipo-envio {
    background-repeat: no-repeat;
    background-size: cover;
    height: 1.2rem;
}

@keyframes modal {
    from {
        top: -330px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}